profiles {
    docker {
        process {
            withLabel: 'amplicon' {
                container = 'rund0wn/borg_16s_nf:1.0'
            }
            withLabel: 'WGS' {
                container = 'coolmaksat/deepgometa'
            }
        }
        docker {
            enabled = true
            runOptions = '-u \$(id -u):\$(id -g) -v /home/tawfiqre/standardize_methods/DeepGOMeta/data_and_scripts:/data_and_scripts'
            container = 'rund0wn/borg_16s_nf:1.0'
        }
    }
    singularity {
        process {
            container = { 'docker://rund0wn/borg_16s_nf:1.0' }
            withLabel: 'WGS' {
                container = { 'docker://coolmaksat/deepgometa' }
            }
        }
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B /home/tawfiqre/standardize_methods/DeepGOMeta/data_and_scripts:/data_and_scripts'
        }
    }
}
